<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
</head>
<body>
    <div>
        <div id="starting-card">
            <div class="title">
                <h1>Snake Game</h1>
            </div>
            <div class="subtitle">
                <h2>use as setas para jogar!</h2>
            </div>
        </div>
        <div id="game-screen">
            
        </div>
    </div>
</body>
</html>